img {
    width: 100%;
    height: 8.5rem;
    border-radius: 10px;
}

.main {
    padding: 1.25rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.main .header h2 {
    font-weight: 500;
}

.main .header p {
    color: #5f5f5f;
    font-size: 0.95rem;
}

.main .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.main .hero .image1 {
    height: 18rem;
}

.main .hero .second {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
}

.main .hero .second img:nth-child(2),
.main .hero .second img:nth-child(3) {
    grid-column: span 2;
}

.main .content {
    display: grid;
    grid-template-columns: 3fr 1.25fr;
    gap: 1rem;
}

.main .content .main-container {
    border: 2px solid #e4e4e4;
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main .content .main-container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .content .main-container .header h3 {
    font-weight: 500;
}

.main .content .main-container .header ion-icon {
    font-size: 1.25rem;
}

.main .content .main-container .announcements {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 12rem;
    overflow-y: scroll;
}

.main .content .main-container .announcement {
    background-color: var(--navy-blue);
    border-radius: 10px;
    color: var(--white);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.main .content .main-container .announcements .announcement:nth-child(2) {
    background-color: #e4e4e4;
    color: var(--navy-blue);
}

.main .content .main-container .announcements .announcement .top .header-text {
    font-weight: 600;
}

.main .content .main-container .announcements .announcement .top {
    display: flex;
    justify-content: space-between;
}

.main .content .main-container .announcements .announcement .message {
    width: 90%;
}

.main .content .main-container .announcements .announcement .top p,
.main .content .main-container .announcements .announcement .top span,
.main .content .main-container .announcements .announcement .message p  {
    color: var(--white);
}

.main .content .main-container .announcements .announcement:nth-child(2) .top p,
.main .content .main-container .announcements .announcement:nth-child(2) .top span,
.main .content .main-container .announcements .announcement:nth-child(2) .message p  {
    color: var(--navy-blue);
}

.main .content .main-container .view-all {
    display: flex;
    align-items: center;
    gap: 1rem;
    display: flex;
    justify-content: flex-end;
}

.main .content .main-container .view-all .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2e2e2;
    padding: 0.25rem;
    border-radius: 50%;
}

.main .content .side {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.main .content .side .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 2px solid #e4e4e4;
    border-radius: 20px;
    padding: 1rem;
}

.main .content .side .container h3 {
    font-weight: 500;
}

.main .content .side .container .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .content .side .container .details .left p:nth-child(1) {
    font-size: 1.5rem;
    font-weight: 600;
}

.main .content .side .container .details .left span {
    color: #5f5f5f;
}

.main .content .side .container .details .left p:nth-child(2) {
    color: #5f5f5f;
}

.main .content .side .container .details .left .balance {
    color: var(--navy-blue);
}

.main .content .side .container .details .icon {
    background-color: #dfdfdf;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 50%;
}

.main .content .side .container .btn {
    text-align: center;
}

/* COURSES */
.main .courses-container h2 {
    font-weight: 500;
}
.main .courses-container .courses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main .courses-container .error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

.main .courses-container .error-container .error-icon {
    background-color: var(--sky-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 0.75rem;
}

.main .courses-container .error-container .error-icon ion-icon {
    font-size: 2.5rem;
}

.main .courses-container .error-container h3 {
    font-weight: 500;
    font-size: 1.5rem;
    width: 40%;
    text-align: center;
    line-height: 1.5rem;
}

.main .courses-container .error-container p {
    color: #5f5f5f;
}