<div class="main">
    <div class="header">
        <h2>Hello, Boitumelo Mkhwanazi</h2>
        <p>Manage your student account from here</p>
    </div>
    <div class="hero">
        <div class="first"><img src="school/cambridge.avif" alt="" class="image1"></div>
        <div class="second">
            <img src="school/class1.avif" alt="">
            <img src="school/class2.avif" alt="">
            <img src="school/class3.avif" alt="">
            <img src="school/class4.avif" alt="">
        </div>
    </div>
    <div class="content">
        <div class="main-container">
            <div class="header">
                <h3>Announcements</h3>
                <ion-icon name="notifications-outline"></ion-icon>
            </div>
            <div class="announcements">
                <div class="announcement">
                    <div class="top">
                        <p class="header-text">Payment of the second book allowance</p>
                        <span>14/04</span>
                    </div>
                    <div class="message">
                        <p>A decision was made by the NWU management today to move the 
                        payment to the 2nd of May. A decision was made by the NWU management today to move the 
                        payment to the 2nd of May</p> 
                    </div>
                </div>
                <div class="announcement">
                    <div class="top">
                        <p class="header-text">Payment of the second book allowance</p>
                        <span>14/04</span>
                    </div>
                    <div class="message">
                        <p>A decision was made by the NWU management today to move the 
                        payment to the 2nd of May. A decision was made by the NWU management today to move the 
                        payment to the 2nd of May</p> 
                    </div>
                </div>
            </div>
            <div class="view-all">  
                <span>View All</span>
                <div class="icon-container"><ion-icon name="chevron-forward-outline"></ion-icon></div>
            </div>
        </div>
        <div class="side">
            <div class="container">
                <h3>Assessments</h3>
                <div class="details">
                    <div class="left">
                        <p>2</p>
                        <p>View your assessments</p>
                    </div>
                    <div class="icon">
                        <ion-icon name="chevron-forward-outline"></ion-icon>
                    </div>
                </div>
            </div>
            <div class="container">
                <h3>Financial Info</h3>
                <div class="details">
                    <div class="left">
                        <span>Your balance</span>
                        <p class="balance">R0.00</p>
                    </div>
                </div>
                <a href="" class="btn">Add Funds</a>
            </div>
        </div>
    </div>
    <div class="courses-container">
        <h2>Your Courses</h2>
        @if (userCourses.length !== 0) {
            <div class="courses">
                @for (course of userCourses; track course.id) {
                    <app-course [courseData]="course" [activePage]="''"/>
                }
            </div>
        } @else {
            <div class="error-container">
                <div class="error-icon">
                    <ion-icon name="alert-outline"></ion-icon>
                </div>
                <h3>Ooops! You have no registered courses</h3>
                <p>Ready to register? Check out our courses</p>
                <a [routerLink]="['modules']" class="btn">All Courses</a>
            </div>
        }
        
    </div>
</div>