<div class="course">
    <img [src]="courseData().image" alt="">
    <div class="course-details">
        <div class="course-details-header">
            <p>{{ courseData().faculty }}</p>
            <div class="rating">
                <ion-icon name="star"></ion-icon>
                <span>{{ courseData().rating }}</span>
            </div>
        </div>
        <p class="title">{{ courseData().title }}</p>
        <div class="course-details-footer">
            <div class="left">
                <ion-icon name="people-outline"></ion-icon>
                <p> {{ courseData().studentsCount }} <span>students</span></p>
            </div>
            <a [routerLink]="['/courses', courseData().title]" >Learn More</a>
            <a href="" class="open"><ion-icon name="open-outline"></ion-icon></a>
            
        </div>
    </div>
</div>
