#auth-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

#auth-container .auth .auth-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    height: 10vh;
}

#auth-container .auth .auth-header .auth-header-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.35rem;
}

#auth-container .auth .auth-header .auth-header-left ion-icon {
    font-size: 20px;
}

#auth-container .auth .auth-header .auth-header-left span {
    font-size: 18px;
    font-weight: 500;
}

#auth-container .auth .auth-header .auth-header-right p {
    font-size: 0.9rem;
    color: #aaaaaa;
}

#auth-container .auth .auth-header .auth-header-right a {
    color: var(--sky-blue);
    font-weight: 500;
}

#auth-container .auth .auth-header .auth-header-right-mobile {
    display: none;
}

#auth-container .auth .form-container {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

#auth-container .auth form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    width: 60%;
}

#auth-container .auth .form-container form h2 {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 400;
}

#auth-container .auth .form-container form .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

#auth-container .auth .form-container form .passwords .password-input label {
    color: var(--navy-blue);
    font-size: 0.75rem;
    margin-bottom: 0.3rem;
}

#auth-container .auth .form-container form .passwords {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333333; 
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

#auth-container .auth .form-container form a {
    color: #43C6AC;
    width: 100%;
    font-size: 0.9rem;
    margin-top: -0.5rem;
}

#auth-container .auth .form-container form .buttons {
    width: 100%;
    display: flex;
    gap: 0.25rem;
    justify-content: start;
}

#auth-container .auth .form-container form .btn:nth-child(2) {
    background-color: transparent;
    color: var(--navy-blue);
    border: #ffffff;
}

.input:focus {
    border-color: #43C6AC;
    background-color: #cffff5;
}

.input::placeholder {
    font-size: 0.9rem;
    font-weight: 500;
    color: #d5d5d5;
}

.input.ng-invalid.ng-touched.ng-dirty {
    background-color: #fbdcd6;
    border-color: #f84e2c;
}

.passwords .password-input p {
    font-size: 0.75rem;
    color: #f84e2c;
}

@media (max-width: 767px) {
    #auth-container {
        grid-template-columns: 1fr;
    }

    #auth-container .auth .auth-header {
        padding: 1rem 2rem;
    }

    #auth-container .auth .auth-header .auth-header-left ion-icon {
        font-size: 30px;
    }

    #auth-container .auth .auth-header .auth-header-left span {
        display: none;
    }

    #auth-container .auth .auth-header .auth-header-right {
        display: none;
    }

    #auth-container .auth .auth-header .auth-header-right-mobile {
        display: block;
        display: flex;
        gap: 0.5rem;
    }

    #auth-container .auth .auth-header .auth-header-right-mobile a {
        font-size: 0.8rem;
        padding: 0.35rem 0.7rem;
    }

    #auth-container .auth .auth-header .auth-header-right-mobile a:nth-child(1) {
        color: var(--sky-blue);
        background-color: transparent;
    }

    #auth-container .auth form .form-container {
        padding: 0.35rem 0.7rem;
    }

    #auth-container .auth form {
        gap: 0.75rem;
        width: 85%;
    }
}

#auth-container .auth-image-container {
    background-color: var(--navy-blue);
}