<section id="newsletter">
    <div class="newsletter-container">
        <h2>Keep up to date with the latest courses and updates</h2>
        <form>
            <div class="inputs-container">
                <div class="inputs">
                    <input type="text" name="firstName" placeholder="First name">
                    <input type="text" name="lastName" placeholder="Last name">
                    <input type="email" name="email" placeholder="Email address *" required>  
                </div>
                <p>Subscribe to our newsletter and never miss a new opportunity to learn!</p>
            </div>
            <button type="submit" class="btn">SIGN UP</button>
        </form>
    </div>
</section>
