<div class="main">
    <div class="header">
        <div class="text">
            <h2>Courses</h2>
            <p>Choose from a vast selection of courses on the latest 
                in-demand skil to achieve your goals.
            </p>
        </div>
    </div>
    <div class="container">
        <div class="header">
            <h2>{{ selectedSortCategory() }} Picks</h2>
            <div class="filter">
                <select name="filter" id="filterPopularity" [(ngModel)]="enteredSortCategory">
                    <option value="Most Popular">Most Popular</option>
                    <option value="Least Popular">Least Popular</option>
                </select>
            </div>
        </div>
        
        <div class="courses">
            @for(course of onSelectSortCategory(); track course.id) {
                <app-course [courseData]="course" [activePage]="'Dashboard Page'"/>
            }
        </div>
    </div>
    <div class="container">
        <div class="header">
            <h2>{{ selectedCourseCategory() }} Courses</h2>
            <div class="filter">
                <span>Show: </span>
                <select name="filter" id="filterCourses" [(ngModel)]="enteredCourseCategory">
                    <option value="All">All Courses</option>
                    <option value="Health Science">Health Science Courses</option>
                    <option value="Science">Science Courses</option>
                    <option value="Engineering">Engineering Courses</option>
                </select>
            </div>
        </div>
        
        <div class="courses">
            @for(course of onSelectCourseCategory(); track course.id) {
                <app-course [courseData]="course" [activePage]="'Dashboard Page'"/>
            }
        </div>
    </div>
    
</div>
