<section id="auth-container">
    <div class="auth">
        <div class="auth-header">
            <div class="auth-header-left">
                <ion-icon name="logo-amazon"></ion-icon>
                <span>AWS School</span>
            </div>
            <div class="auth-header-right">
                <p>Already have an account? <a href="">Log-in</a> </p>
            </div>
        </div>
        <form action="">
            <h2>Create an account</h2>
            <div class="form">
                <div class="names">
                    <div class="input-container">
                        <label for="first-name">First name</label>
                        <input id="first-name" type="text" name="first-name" placeholder="Boitumelo" class="input">
                    </div>
                    <div class="input-container">
                        <label for="last-name">Last name</label>
                        <input id="last-name" type="text" name="last-name" placeholder="Boitumelo" class="input">
                    </div>
                </div>
                <div class="passwords">
                    <div class="password-input">
                        <label for="email">Email</label>
                        <input id="email" type="email" name="email" placeholder="Password(min 8 characters)" class="input">
                    </div>
                    <div class="password-input">
                        <label for="password">Password</label>
                        <input id="password" type="text" name="password" placeholder="Password(min 8 characters)" class="input">
                    </div>
                    <div class="password-input">
                        <label for="confirm-password">Confirm Password</label>
                        <input id="confirm-password" type="text" name="confirm-password" placeholder="Password(min 8 characters)" class="input">
                    </div>
                </div>
            </div>
            <a href="">Forgot Password</a>
        </form>
    </div>
    <div class="auth-image-container">

    </div>
    
</section>
