<footer>
    <div class="top">
        <div class="left">
            <div class="top-header">
                <div class="icon-container">
                    <ion-icon name="logo-amazon"></ion-icon>
                </div>
                <span>EduEnroll</span>
            </div>
            <p>
                Our mission is to provide a simple, user-friendly platform that makes it easy for students to register, 
                manage profiles, and enroll in courses efficiently and transparently.
            </p>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/courses">Courses</a></li>
                <li><a href="/about">About Us</a></li>
            </ul>
        </div>
        <div class="right">
            <p>Hello</p>
        </div>
    </div>
    <div class="bottom">
        <p>Copyright 2025aws.AllRightsReserved</p>
        <ul>
            <li><a href=""><ion-icon name="logo-linkedin"></ion-icon></a></li>
            <li><a href=""><ion-icon name="logo-instagram"></ion-icon></a></li>
            <li><a href=""><ion-icon name="logo-facebook"></ion-icon></a></li>
        </ul>
    </div>
</footer>