#hero {
    padding: 6rem 5rem 1rem 5rem;
}

#hero .inner-hero {
    background-color: var(--sky-blue);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem 5rem;
    border-radius: 20px;
}

#hero .inner-hero .hero-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


#hero .inner-hero .hero-text h2 {
    width: 90%;
    color: var(--navy-blue);
    font-size: 3rem;
    font-weight: 400;
    line-height: 3rem;
}

#hero .inner-hero .hero-text p {
    color: var(--white);
    margin-bottom: 2rem;
}

#hero .inner-hero img {
    width: 100%;
}

#desc {
    padding: 2rem 5rem 1rem 5rem;
    text-align: center;
}

#desc .desc-header {
    margin-bottom: 2rem;
}

#desc .desc-header h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 500;
    margin-bottom: 0.6rem;
}

#desc .desc-header p {
    color: #a09d9d;
}

#desc .desc-cards {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 1.5rem;
}

#guide {
    padding: 2rem 5rem 1rem 5rem;
}

#guide .inner-guide {
    background-color: var(--navy-blue);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 5rem;
    border-radius: 20px;
}

#guide .inner-guide .header span {
    color: #5d598a;
}

#guide .inner-guide .header h2 {
    color: var(--white);
}

#guide .inner-guide .header h2  {
    font-size: 30px;
    font-weight: 500;
    line-height: 50px;
}

#guide .inner-guide .steps-cards {
    display: flex;
    gap: 1rem;
}


#featured-courses {
    padding: 2rem 0rem 1rem 0rem;
    text-align: center;
}

#featured-courses .courses-header {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#featured-courses .courses-header h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 500;
    margin-bottom: 0.6rem;
}

#featured-courses .courses-header p {
    color: #a09d9d;
    max-width: 40%;
    text-align: center;
}

#featured-courses .courses-main .courses-cards {
    background-color: #f0f8ff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem 5rem;
}

#newsletter {
    padding: 1rem 5rem 2rem 5rem;
}

#newsletter .newsletter-container {
    background: linear-gradient(270deg, #191645, var(--skylight-blue), #191645);
    background-size: 600% 600%;
    animation: gradientMove 10s ease infinite;
    display: flex;
    padding: 3rem 5rem;
    border-radius: 20px;
}

#newsletter .newsletter-container h2 {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    width: 40%;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#newsletter .newsletter-container form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#newsletter .newsletter-container form .inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#newsletter .newsletter-container form p {
    color: var(--white);
    font-size: 0.85rem;
}

#newsletter .newsletter-container form .inputs input {
    background-color: transparent;
    border: none;
    border-bottom: 1.5px solid var(--white);
    padding: 0.75rem 0 0.5rem 0;
    color: var(--white); 
    outline: none;
    transition: border-color 0.3s ease;
}

#newsletter .newsletter-container form .inputs input:focus {
    color: var(--sky-blue);
    border-bottom: 1.5px solid var(--sky-blue);
}

#newsletter .newsletter-container form .inputs input:focus::placeholder {
    color: var(--sky-blue);
}

#newsletter .newsletter-container form .inputs input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

#newsletter .newsletter-container form button {
    padding: 0.75rem 1.5rem;
}

@media (max-width: 767px) {
    #hero {
        padding: 3rem 0 0 0;
    }

    #hero .inner-hero {
        flex-direction: column;
        padding: 0.5rem;
        border-radius: 0px;
        gap: 1.5rem;
    }

    #hero .inner-hero .hero-text {
        padding-top: 2rem;
    }

    #hero .inner-hero .hero-text h2,
    #hero .inner-hero .hero-text p {
        text-align: center;
    }

    #hero .inner-hero .hero-text h2 {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        margin: 0 auto;
        line-height: 1.2;
        word-break: break-word;
    }

    #hero .inner-hero .hero-text p {
        font-size: 16px;
        margin-bottom: 1rem;
    }

    #hero .inner-hero .hero-text div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #desc {
        padding: 2rem 1.5rem 1rem 1.5rem;
        text-align: center;
    }

    #desc .desc-header {
        margin-bottom: 1rem;
    }

    #desc .desc-header h2 {
        font-size: 1.1rem;
        line-height: 1.5rem;
    }

    #desc .desc-cards {
        flex-direction: column;
        gap: 0.5rem;
    }

    #guide {
        padding: 2rem 0rem 0rem 0rem;
    }

    #guide .inner-guide {
        gap: 1rem;
        padding: 1.5rem 1rem;
        border-radius: 0px;
    }

    #guide .inner-guide .header {
        text-align: center;
        margin-bottom: 1rem;
    }

    #guide .inner-guide .header h2 {
        font-size: 1.25rem;
        line-height: 30px;
    }

    #guide .inner-guide .steps-cards {
        display: flex;
        flex-direction: column;
    }

    #courses-container .courses-main .courses-cards {
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
        padding: 1rem 0.5rem;
    }
}