#hero {
    padding: 6rem 5rem 1rem 5rem;
}

#hero .inner-hero {
    background-color: var(--sky-blue);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem 5rem;
    border-radius: 20px;
}

#hero .inner-hero .hero-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


#hero .inner-hero .hero-text h2 {
    width: 90%;
    color: var(--navy-blue);
    font-size: 3rem;
    font-weight: 400;
    line-height: 3rem;
}

#hero .inner-hero .hero-text p {
    color: var(--white);
    margin-bottom: 2rem;
}

#hero .inner-hero img {
    width: 100%;
}

#desc {
    padding: 2rem 5rem 1rem 5rem;
    text-align: center;
}

#desc .desc-header {
    margin-bottom: 2rem;
}

#desc .desc-header h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 500;
    margin-bottom: 0.6rem;
}

#desc .desc-header p {
    color: #a09d9d;
}

#desc .desc-cards {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 1.5rem;
}

#guide {
    padding: 2rem 5rem 1rem 5rem;
}

#guide .inner-guide {
    background-color: var(--navy-blue);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 5rem;
    border-radius: 20px;
}

#guide .inner-guide .header span {
    color: #5d598a;
}

#guide .inner-guide .header h2 {
    color: var(--white);
}

#guide .inner-guide .header h2  {
    font-size: 30px;
    font-weight: 500;
    line-height: 50px;
}

#guide .inner-guide .steps-cards {
    display: flex;
    gap: 1rem;
}

@media (max-width: 767px) {
    #hero {
        padding: 3rem 0 0 0;
    }

    #hero .inner-hero {
        flex-direction: column;
        padding: 0.5rem;
        border-radius: 0px;
        gap: 1.5rem;
    }

    #hero .inner-hero .hero-text {
        padding-top: 2rem;
    }

    #hero .inner-hero .hero-text h2,
    #hero .inner-hero .hero-text p {
        text-align: center;
    }

    #hero .inner-hero .hero-text h2 {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        margin: 0 auto;
        line-height: 1.2;
        word-break: break-word;
    }

    #hero .inner-hero .hero-text p {
        font-size: 16px;
        margin-bottom: 1rem;
    }

    #hero .inner-hero .hero-text div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #desc {
        padding: 2rem 1.5rem 1rem 1.5rem;
        text-align: center;
    }

    #desc .desc-header {
        margin-bottom: 1rem;
    }

    #desc .desc-header h2 {
        font-size: 1.1rem;
        line-height: 1.5rem;
    }

    #desc .desc-cards {
        flex-direction: column;
        gap: 0.5rem;
    }

    #guide {
        padding: 2rem 0rem 0rem 0rem;
    }

    #guide .inner-guide {
        gap: 1rem;
        padding: 1.5rem 1rem;
        border-radius: 0px;
    }

    #guide .inner-guide .header {
        text-align: center;
        margin-bottom: 1rem;
    }

    #guide .inner-guide .header h2 {
        font-size: 1.25rem;
        line-height: 30px;
    }

    #guide .inner-guide .steps-cards {
        display: flex;
        flex-direction: column;
    }
}