<app-navbar />

<section id="hero">
    <div class="inner-hero">
        <div class="hero-text">
            <h2>Seamless academic management for students and admins.</h2>
            <p>
                Enroll in courses, track progress, and stay organized—all in one place. 
                Simplifying education, one click at a time!"
            </p>
            <div class="buttons-container">
                <a href="/sign-up" class="btn">Get started</a>
            </div>
        </div>
        <img src="hero.png" alt="">
    </div>
</section>

<section id="desc">
    <div class="desc-header">
        <h2>Manage your courses in <br> a single system</h2>
        <p>Who is it for?</p>
    </div>
    <div class="desc-cards">
        @for(card of cardsArray; track card.id) {
            <app-card-manage [cardData]="card"/>
        }
    </div>
</section>

<section id="guide">
    <div class="inner-guide">
        <div class="header">
            <span>Steps</span>
            <h2>Your Journey Made Simple.</h2>
        </div>
        <div class="steps-cards">
            @for(step of stepsArray; track step.id) {
                <app-card-step [stepData]="step" />
            }
        </div>
    </div>
</section>

<section id="featured-courses">
    <div class="courses-header">
        <h2>Our Most Popular Courses</h2>
        <p>Explore our most popular courses, handpicked based on student interest and feedback — 
            a great starting point for your learning journey.</p>
    </div>
    <div class="courses-main">
        <div class="courses-cards">
            <app-course [courseData]="coursesArray[0]"/>
            <app-course [courseData]="coursesArray[1]"/>
            <app-course [courseData]="coursesArray[2]"/>
        </div>
    </div>
</section>

<section id="newsletter">
    <div class="newsletter-container">
        <h2>Keep up to date with the latest courses and updates</h2>
        <form>
            <div class="inputs-container">
                <div class="inputs">
                    <input type="text" name="firstName" placeholder="First name">
                    <input type="text" name="lastName" placeholder="Last name">
                    <input type="email" name="email" placeholder="Email address *" required>  
                </div>
                <p>Subscribe to our newsletter and never miss a new opportunity to learn!</p>
            </div>
            <button type="submit" class="btn">SIGN UP</button>
        </form>
    </div>
</section>

<app-footer />