@if (dialogOpen) {
    <app-member-dialogue [selectedMember]="selectedUserData!" (close)="closeDialog()"/>
}
<app-navbar />
<section id="hero">
    <div class="inner-hero">
        <div class="hero-text">
            <h2>Behind Every Great System is a Great Team</h2>
            <p>
                We're more than just a platform—we're a team dedicated to making academic management seamless for students and administrators. Meet the brilliant minds behind the system, committed to innovation and efficiency.
            </p>
            <div class="buttons-container">
                <a href="" class="btn">Get started</a>
            </div>
        </div>
        <img src="team.png" alt="">
    </div>
</section>

<section id="team">
    <div class="team-header">
        <div class="text">
            <div class="dot"></div>
            <h3>Meet our team</h3>
        </div>
        <h2>Here at AWS, we are a diverse group of dedicated
            professionals committed to revolutionising the learning
            industry.
        </h2>
        <div class="mission-text">
            <div class="line"></div>
            <p>Get to know the faces behind our mission.</p>
        </div>
    </div>

    <div class="team-members">
        @for(member of membersArray; track member.id) {
            <app-member [memberData]="member" (outputMemberData)="onSelectUser($event)"/>
        }
    </div>
</section>

<app-footer />