<div class="course">
    <img [src]="courseData()?.img_url" alt="">
    <div class="course-details">
        <div class="course-details-header">
            <p>{{ courseData()?.faculty_name }}</p>
            <div class="rating">
                <ion-icon name="star"></ion-icon>
                <span>{{ courseData()?.number_of_students }}</span>
            </div>
        </div>
        <p class="title">{{ courseData()?.course_name }}</p>
        <div class="course-details-footer">
            <div class="left">
                <ion-icon name="people-outline"></ion-icon>
                <p> {{ courseData()?.number_of_students }} <span>students</span></p>
            </div>
            @if(activePage() === 'Courses Page') {
                <a [routerLink]="['/courses', courseData()?.course_id]" >Learn More</a>
            } @else {
                <a [routerLink]="['/dashboard/modules', courseData()?.course_id]" >Learn More</a>
            }
            <a [routerLink]="['/courses', courseData()?.course_name]" class="open"><ion-icon name="open-outline"></ion-icon></a>
            
        </div>
    </div>
</div>
