<app-navbar />
<section id="hero">
    <img src="courses_hero.png" alt="">
</section>

<section id="courses-container">
    <div class="courses-header">
        <h2>Our Courses</h2>
        <p>Explore our courses, find the ones that excite you</p>
    </div>
    <div class="courses-main">
        <div class="courses-main-header">
            <h4>All</h4>
            <h4>Health Sciences</h4>
            <h4>Science</h4>
            <h4>Engineering</h4>
        </div>
        <div class="courses-cards">
            
        </div>
    </div>
</section>