<app-navbar />
<section id="hero">
    <img src="courses_hero.png" alt="">
</section>

<section id="courses-container">
    <div class="courses-header">
        <h2>Our Courses</h2>
        <p>Explore our courses, find the ones that excite you</p>
    </div>
    <div class="courses-main">
        <div class="courses-main-header">
            <h4 (click)="onSelectFaculty('All')" [class.active]="'All' === selectedFaculty()">All</h4>
            <h4 (click)="onSelectFaculty('Health Science')" [class.active]="'Health Science' === selectedFaculty()">Health Sci</h4>
            <h4 (click)="onSelectFaculty('Science')" [class.active]="'Science' === selectedFaculty()">Science</h4>
            <h4 (click)="onSelectFaculty('Engineering')" [class.active]="'Engineering' === selectedFaculty()">Engineering</h4>
        </div>
        <div class="courses-cards">
            @for(course of coursesArray; track course.id) {
                <app-course [courseData]="course"/>
            }
        </div>
    </div>
</section>