<app-navbar />
<section id="hero">
    <img src="courses_hero.png" alt="">
</section>

<section id="courses-container">
    <div class="courses-header">
        <h2>Our Courses</h2>
        <p>Explore our courses, find the ones that excite you</p>
    </div>
    <div class="courses-main">
        <div class="courses-main-header">
            <h4>All</h4>
            <h4>Health Sciences</h4>
            <h4>Science</h4>
            <h4>Engineering</h4>
        </div>
        <div class="courses-cards">
            <div class="course">
                <img src="courses/data_science.avif" alt="">
                <div class="course-details">
                    <div class="course-details-header">
                        <p>SCIENCE</p>
                        <div class="rating">
                            <ion-icon name="star"></ion-icon>
                            <span>4.5</span>
                        </div>
                    </div>
                    <p class="title">Complete Data Science Course</p>
                    <div class="course-details-footer">
                        <div class="left">
                            <ion-icon name="people-outline"></ion-icon>
                            <p>432,671 <span>students</span></p>
                        </div>
                        <a href="">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>