* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

:root {
    --white: #FFFFFF;
    --alice-blue: #f0f8ff;
    --navy-blue: #191645;
    --sky-blue: #43C6AC;
    --skylight-blue: #b8fff1;
}

p, span, ion-icon, h1, h2, h3, h4 {
    color: var(--navy-blue);
}

a {
    text-decoration: none;
    color: var(--navy-blue);
}

li {
    list-style: none;
}

.btn {
    background-color: var(--navy-blue);
    color: var(--white);
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}