<div class="container">
    <aside>
        <div class="top">
            <ion-icon name="logo-amazon"></ion-icon>
            <div class="icon-container">
                <ion-icon name="play-skip-back-outline"></ion-icon>
            </div>
        </div>
        <div class="content">
            <div class="user">
                <img src="team-member.png" alt="" width="50px">
                <div class="details">
                    <p>Boitumelo Mkhwanazi</p>
                    <p>44518919</p>
                </div>
            </div>
            <div class="main">
                <div class="first">
                    <p>Academic</p>
                    <div class="links-container">
                        <a href="">
                            <ion-icon name="grid-outline"></ion-icon>
                            <span>Overview</span>
                        </a>
                        <a href="">
                            <ion-icon name="book-outline"></ion-icon>
                            <span>Courses</span>
                        </a>
                        <a href="">
                            <ion-icon name="checkbox-outline"></ion-icon>
                            <span>My Courses</span>
                        </a>
                        <a href="">
                            <ion-icon name="alarm-outline"></ion-icon>
                            <span>Timetable</span>
                        </a>
                        <a href="">
                            <ion-icon name="bookmark-outline"></ion-icon>
                            <span>Assessment</span>
                        </a>
                    </div>
                </div>
                <div class="first">
                    <p>General</p>
                    <div class="links-container">
                        <a href="">
                            <ion-icon name="person-outline"></ion-icon>
                            <span>Profile</span>
                        </a>
                        <a href="">
                            <ion-icon name="card-outline"></ion-icon>
                            <span>Deposit</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <a href="" class="log-out">
            <ion-icon name="log-out-outline"></ion-icon>
            <span>Log Out</span>
        </a>
    </aside>
    <main>
        <div class="header">
            <div class="search-bar">
                <ion-icon name="search-outline"></ion-icon>
                <input type="text" placeholder="Search for a course here">
            </div>
            <div class="nav">
                <a href="">My Lesson</a>
                <a href="">All Courses</a>
                <a href=""><img src="team-member.png" alt=""></a>
            </div>
        </div>
        <router-outlet />
    </main>

</div>